[submodule "protos/grpc-txsecurities"]
	path = protos/grpc-txsecurities
	url = https://git.finam.ru/scm/ser/grpc-txsecurities.git
[submodule "protos/grpc-marketdata"]
	path = protos/grpc-marketdata
	url = https://git.finam.ru/scm/ser/grpc-marketdata.git
[submodule "protos/grpc-proto"]
	path = protos/grpc-proto
	url = https://git.finam.ru/scm/ser/grpc-proto.git
[submodule "protos/grpc-transaq"]
	path = protos/grpc-transaq
	url = https://git.finam.ru/scm/ser/grpc-transaq.git
